
<%- include('../partials/header') %> 
<!--NAVIGATION BAR FOR USER-->
<% if(!currentUser) { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 sticky-top">
      <div class="container">
        <% if(!currentUser) { %>
         <a class="navbar-brand" href="/">Home</a>
         <% } else if(!currentUser.isAdmin) { %>
         <a class="navbar-brand" href="/user/1">Home</a>
         <% } else if(currentUser.isAdmin) { %>
         <a class="navbar-brand" href="/admin">Home</a>
         <% } %>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
       
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav">
             <li class="nav-item active  px-2">
               <a class="nav-link" href="/books/all/all/1"> Books</a></a>
             </li>
           </ul>
           <ul class="navbar-nav">
             <li class="nav-item active  px-2">
               <a class="nav-link" href="/authors/all/all/1"> Authors</a></a>
             </li>
           </ul>
           <ul class="navbar-nav">
             <li class="nav-item active  px-2">
               <a class="nav-link" href="/genres/all/all/1"> Genres</a></a>
             </li>
           </ul>
             
              <% if(currentUser) { %>
             <ul class="navbar-nav ml-auto">
   
               <li class="nav-item dropdown mr-3">
                 <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                   <i class="fa fa-user"></i> Welcome <%=user.username%>
                 </a>
                 <div class="dropdown-menu">
                   <%if(!currentUser.isAdmin) { %>
                     <a href="/user/1/profile" class="dropdown-item">
                       <i class="fa fa-user-circle"></i> Profile
                     </a>
                     <a href="/auth/user-logout" class="dropdown-item">
                     <i class="fa fa-user-times"></i> Logout
                   </a>
                 <% } else { %>
                      <a href="/admin/profile" class="dropdown-item">
                       <i class="fa fa-user-circle"></i> Profile
                     </a>
                     <a href="/auth/user-logout" class="dropdown-item">
                       <i class="fa fa-user-times"></i> Logout
                     </a>
                 <% } %>
                 </div>
               </li>
             </ul>
             <% } else { %>
               <a href="/auth/user-login" class="btn btn-primary" style="margin-left: 20cm;">Login</a>
               <a href="/auth/user-signup" class="btn btn-primary">Sign up</a>
             <% } %>
         </div>
     </div>
   </nav>
<% } else if(!currentUser.isAdmin) { %>
  <%- include('../partials/userNav') %> 
<% } else if(currentUser.isAdmin) { %>
  <%- include('../partials/adminNav') %> 
<% } %>
  
<!--Author DETAILS-->
 

<div class="container mt-3">
  <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
              <h4 class="text-center"> Tác giả: <%= author.name%>
                <p>(<%= author.author_DOB_formatted%>)- (<%= author.author_DOD_formatted%>)  </p>  </h4>
                <div style="margin-left:20px;margin-top:20px"></div>
          </div>
          <p class="text-muted">
            <img  src="<%=author.ImageUrl%>" class="img-item2" style="text-align: center;">
          </p>
          <div class="card-body">
              <p class="card-text">
                  Sơ lược qua: <%- author.describe %> 
              </p>
          </div>
          <div class="card-body">
            <p class="card-text">
                Nhận xét: <%- author.summary %> 
            </p>
        </div>
        </div>
    </div>
  </div>
</div>

<h4 style="margin-left:570px;margin-top:20px">Những Cuốn sách thuộc tác giả này</h4>
<div class="row">
    <% for (let book of author_books) { %>
  <div class="card col-md-3 text-center">
    
        <div class="card-body">
            
          <h5 class="card-title"> <%=book.title%> </h5>
          <a href="/books/details/<%=book._id%>">
          <p class="text-muted">
            <img  src="<%=book.ImageUrl%>" class="img-item">
          </p>
        </a>
        </div>
      </div>
  <% } %>
  </div>
 

<%- include('../partials/footer') %> 