
<%- include('../partials/header') %> 
<!--NAVIGATION BAR FOR USER-->

<% if(!currentUser) { %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 sticky-top">
        <div class="container">
          <% if(!currentUser) { %>
           <a class="navbar-brand" href="/">Home</a>
           <% } else if(!currentUser.isAdmin) { %>
           <a class="navbar-brand" href="/user/1">Home</a>
           <% } else if(currentUser.isAdmin) { %>
           <a class="navbar-brand" href="/admin">Home</a>
           <% } %>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
         
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav">
               <li class="nav-item active  px-2">
                 <a class="nav-link" href="/books/all/all/1"> Books</a></a>
               </li>
             </ul>
             <ul class="navbar-nav">
               <li class="nav-item active  px-2">
                 <a class="nav-link" href="/authors/all/all/1"> Authors</a></a>
               </li>
             </ul>
             <ul class="navbar-nav">
               <li class="nav-item active  px-2">
                 <a class="nav-link" href="/genres/all/all/1"> Genres</a></a>
               </li>
             </ul>
               
                <% if(currentUser) { %>
               <ul class="navbar-nav ml-auto">
     
                 <li class="nav-item dropdown mr-3">
                   <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                     <i class="fa fa-user"></i> Welcome <%=user.username%>
                   </a>
                   <div class="dropdown-menu">
                     <%if(!currentUser.isAdmin) { %>
                       <a href="/user/1/profile" class="dropdown-item">
                         <i class="fa fa-user-circle"></i> Profile
                       </a>
                       <a href="/auth/user-logout" class="dropdown-item">
                       <i class="fa fa-user-times"></i> Logout
                     </a>
                   <% } else { %>
                        <a href="/admin/profile" class="dropdown-item">
                         <i class="fa fa-user-circle"></i> Profile
                       </a>
                       <a href="/auth/user-logout" class="dropdown-item">
                         <i class="fa fa-user-times"></i> Logout
                       </a>
                   <% } %>
                   </div>
                 </li>
               </ul>
               <% } else { %>
                 <a href="/auth/user-login" class="btn btn-primary" style="margin-left: 20cm;">Login</a>
                 <a href="/auth/user-signup" class="btn btn-primary">Sign up</a>
               <% } %>
           </div>
       </div>
     </nav>
<% } else if(!currentUser.isAdmin) { %>
    <%- include('../partials/userNav') %> 
<% } else if(currentUser.isAdmin) { %>
    <%- include('../partials/adminNav') %> 
<% } %>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center"> <%= book.title %> </h4>
                </div>
                <p class="text-muted">
                    <img  src="<%=book.ImageUrl%>" class="img-item1" style="text-align: center;">
                  </p>
                  <a href="/authors/details/<%=book.author._id%>" class="" style="width: 300px; margin-left: auto; margin-right: auto;color: black;">Được viết bởi : <%= book.author.name%></a>
                  <br>
                  <a href="/genres/details/<%=book.genre[0]._id%>" class=""style="width: 300px;margin-left: auto; margin-right: auto;color: black;"> Thuộc thể loại : <%=book.genre[0].name%></a>
                <div class="card-body">
                    <p class="card-text">
                        Sơ lược qua: <%- book.describe %> 
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Nhận xét: <%- book.summary %> 
                    </p>
                </div>
            </div>

            <div class="card my-3 bg-light">
                <% if(currentUser) { %>
                <p class="p-3">
                  <button class="btn btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapseCommentBox" aria-expanded="false" aria-controls="collapseCommentBox">
                    Leave a comment
                  </button>
                </p>
               
                <div class="collapse" id="collapseCommentBox">
                 <form action="/books/details/<%=book._id%>/comment" method="POST">
                    <textarea name="comment" class="form-control"></textarea>
                    <input type="submit" class="btn btn-outline-success btn-sm m-1 float-right">
                 </form>
                </div>

            <% } %>

            <ul class="list-group list-group-flush">
                
            <%book.comments.forEach((comment) => { %>
                <li class="list-group-item">
                    <a href="/users/profile/<%=comment.author.id%>" title="Visit profile">
                    <strong><%=comment.author.username%></strong>
                </a>
                    <span><em> at <%=comment.date.toDateString()%></em></span>
                    <p><%=comment.text%></p>
                    
                     <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
            
                    <button id="edit" class="btn btn-primary px-1 py-0">
                        <i class="fa fa-pencil"></i>
                    </button>
                        
                    <form class="d-inline" action="/books/details/<%=book._id%>/<%=comment._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger px-1 py-0">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
             <% } %>
                    
                    <div class="d-none" id="editCommentBox">
                     <form action="/books/details/<%=book._id%>/<%=comment._id%>" method="POST">
                        <textarea name="comment[text]" class="form-control"><%=comment.text%></textarea>
                        <input type="submit" class="btn btn-outline-success btn-sm m-1 float-right">
                     </form>
                    </div>
                </li>
            <% }); %>
            </ul>
            
            </div>
        </div>
        <div class="col-md-3">
            <h4 class="text-center pb-3">Có thể bạn muốn đọc</h4>
            
            <p class="text-muted">
                
                <a href="http://localhost:3000/books/details/6177d3231459523704204873" ><img  src="https://salt.tikicdn.com/cache/w300/media/catalog/product/i/m/img144_10.jpg" class="img-item2" ></a>
                <img  src="https://isachhay.net/wp-content/uploads/2017/08/sach-hay-moi-lan-vap-nga-la-mot-lan-truong-thanh.jpg" class="img-item2" >
                <img  src="https://i.doanhnhansaigon.vn/2018/08/25/Mot-lit-nuoc-mat-2277-1535167004.jpg" class="img-item2" >
                <img  src="https://sachhay24h.com/uploads/images/2020/T5/477/top-10-cuon-sach-hay-nhat-thoi-dai-5.PNG" class="img-item2" >
              </p>
        </div>
    </div>
</div> 
  
<%- include('../partials/alerts') %> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('button').on('click',  function() {
       $(this).prev().toggleClass('d-none'); 
      $(this).next().next().toggleClass('d-none');
    });
</script>



<%- include('../partials/footer') %> 