
<%- include('../partials/header') %> 
<!--NAVIGATION BAR FOR USER-->
<% if(!user.isAdmin) { %>
  <%- include('../partials/userNav') %> 
<% } else{ %>
  <%- include('../partials/adminNav') %> 
<% }%>

<div class="container mt-3">
  <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
              <h4 class="text-center"> Thể loại: <%= genre.name%></h4>
                <div style="margin-left:20px;margin-top:20px"></div>
          </div>
          <div class="card-body">
              <p class="card-text">
                  Sơ lược qua: <%- genre.describe %> 
              </p>
          </div>
        </div>
    </div>
  </div>
</div>

<h4 style="margin-left:570px;margin-top:20px">Những Cuốn sách thuộc thể loại này</h4>
<div class="row"> 
    <% for (let book of genre_books) { %>
  <div class="card col-md-3 text-center">
    
        <div class="card-body">
            
          <h5 class="card-title"> <%=book.title%> </h5>
          <a href="/books/details/<%=book._id%>">
            <p class="text-muted">
              <img  src="<%=book.ImageUrl%>" class="img-item">
            </p>
          </a>
        </div>
      </div>
  <% } %>
  </div>
  <% if(user.isAdmin) { %>
    <a href="/admin/genre/delete/<%=genre._id%>" class="btn btn-sm btn-danger">Delete</a>
    <% } %>

<%- include('../partials/footer') %> 