

<%- include('../../partials/header') %> 

<%- include('../../partials/adminNav') %> 

<%- include('../../partials/alerts') %> 



<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
              <div class="card-header text-center">
                <h4>Add Book</h4>
              </div>
                  <form class="p-3" action="/admin/books/add" method="POST" enctype="multipart/form-data">                      
                    <div class="form-group">
                      <label class="form-control-label" for="title">Title</label>
                      <input id="title" type="text" name="title" placeholder="Name of book" class="form-control" required="true">
                    </div>
                  <div class="form-group">
                    <label class="form-control-label" for="author">Author Name</label>
                    <select type="select" id="author" name="author" placeholder="Select author" class="form-control" required="true">
                        <% for (let author of authors) { %>
                          <option value="<%= author._id %>"><%- author.name %></option>
                        <% } %>
                      
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="coverImg">Image Cover</label>
                    <input type="file" name="image" class="form-control p-0 h-30" required="true">
                  </div>
                    <div class="form-group">
                      <label>Thể loại</label>
                      <div>
                          <% for (let genre of genres) { %>
                              <div style="display: inline; padding-right:10px">
                                  <input class="checkbox-input" type="checkbox" name='genre' id="<%= genre._id %>" value="<%= genre._id %>">
                                  <label for="<%= genre._id %>"><%= genre.name %></label>
                              </div>
                          <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">Book describe</label>
                      <textarea name="describe" cols="30" rows="10" class="form-control" id="describe"></textarea>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">Book Summary</label>
                      <textarea name="summary" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary ">Add Book</button>
                  </form>
                  

            </div>
        </div>
    </div>
  </div>
  

  <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
  <script>
    CKEDITOR.replace( 'summary' );
    CKEDITOR.replace( 'describe' );
</script>

 
  
  <%- include('../../partials/footer') %> 


