

<%- include('../../partials/header') %> 

<%- include('../../partials/adminNav') %> 

<%- include('../../partials/alerts') %> 

<h1><%= author.name %></h1>
<% if(author_books.length) {%>
    <p><strong>Xóa các sách sau trước khi cố gắng xóa tác giả này.</strong></p>
    <div style="margin-left:20px;margin-top:20px">
    <h4>
        <% for (let book of author_books) { %>
            <div class="card col-md-3 text-center">
    
                <div class="card-body">
                    
                  <h5 class="card-title"> <%=book.title%> </h5>
                  <p class="text-muted">
                    <img  src="<%=book.ImageUrl%>" class="img-item">
                  </p>
                  <a href="/books/details/<%=book._id%>" class="btn btn-xs btn-primary">Details</a>
                </div>
              </div>
            <%}%>

    </h4>
    </div>
    

    <%}else{%>
        <p>Bạn có thực sự muốn xóa Tác giả này không?</p>
        <form action="" method="POST">
            <div class="form-group">
                <input class="control" type="hidden" name="authorid" id="authorid" required='true' value="<%=author._id %>">
                <button class="btn btn-sm btn-danger" type="submit">xóa</button>
            </div>
        </form>
        <%}%>

  
<%- include('../../partials/footer') %> 


